- name: Install dirmngr
  become: true
  become_user: "{{ root_user }}"
  apt:
    update_cache: true
    name:
    - dirmngr

- name: Add deadsnakes repository
  become: true
  become_user: "{{ root_user }}"
  apt_repository:
    repo: ppa:deadsnakes/ppa
    state: present

- name: Install python{{ python_base_version }}
  become: true
  become_user: "{{ root_user }}"
  apt:
    name:
    # For the pip role:
    # The setuptools package must be installed for both the Ansible Python interpreter
    # and for the version of Python specified by this option.
    - python3-setuptools
    - python{{ python_base_version }}
    - python{{ python_base_version }}-dev
    - python{{ python_base_version }}-venv
    - wget

- name: Install Tk GUI toolkit
  when: python_install_tk|bool
  become: true
  become_user: "{{ root_user }}"
  apt:
    name:
    - python{{ python_base_version }}-tk


- name: Install distutils
  when: ansible_distribution_major_version|int == 18
  become: true
  become_user: "{{ root_user }}"
  apt:
    name:
    - python{{ python_base_version }}-distutils
